
html,
body,
#app {
  height: 100vh;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

// *,:before,:after {
//     box-sizing: border-box;
//     border-width: 0;
//     border-style: solid;
//     // border-color: var(--un-default-border-color, #e5e7eb)
// }

:root {
  /* scrollbars colors */
  --play-ttc-c-thumb: #eee;
  --play-ttc-c-track: white;
}

.dark {
  color-scheme: dark;
  background: #080808;
  color: white;
  /* scrollbars colors */
  --play-ttc-c-thumb: #222;
  --play-ttc-c-track: #111;
}

[icon-btn=""] {
  --at-apply: text-xl op75 hover:op100;
}

.splitpanes.loading .splitpanes__pane {
  transition: none !important;
}

.splitpanes__splitter {
  @apply relative;
  background-color: #7d7d7d1a;
}

.splitpanes__splitter:before {
  content: '';
  transition: opacity 0.4s;
  background-color: rgb(125 125 125 / 0.1);
  @apply absolute z-1 top-0 left-0 op-0;
}

.splitpanes__splitter:hover:before {
  @apply op-100;
}

.splitpanes--vertical>.splitpanes__splitter:before {
  /* fix vertical scrollbar */
  left: -5px;
  @apply h-full -right-5px;
}

.splitpanes--horizontal>.splitpanes__splitter {
  min-height: 0px;
}

.splitpanes--horizontal>.splitpanes__splitter:before {
  /* fix vertical scrollbar */
  @apply w-full -bottom-6px -top-6px;
}

.splitpanes__splitter:before {
  content: "";
  transition: opacity .4s;
  background-color: #7d7d7d1a;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.splitpanes--vertical>.splitpanes__splitter {
  min-width: 1px;
  cursor: col-resize;
}

/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
    // height: 50px;
    // outline-offset: -2px;
    // outline: 2px solid #fff;
    // -webkit-border-radius: 4px;
    // border: 2px solid #fff;
}

/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
    // height: 50px;  
    // -webkit-border-radius: 4px;
}

/*---滚动条大小--*/
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
}

::-webkit-scrollbar-track {
    display: none;
    background-color: #eee;
} /* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
} /* 滑块颜色 */
::-webkit-scrollbar-button {
  display: none;
    background-color: #eee;
} /* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-corner {
    background-color: black;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

.noscrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar{
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  &:hover{
    overflow-y: scroll;
    padding-right: 0;
  }
}