
html,
body,
#app {
  height: 100vh;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

// *,:before,:after {
//     box-sizing: border-box;
//     border-width: 0;
//     border-style: solid;
//     // border-color: var(--un-default-border-color, #e5e7eb)
// }

:root {
  /* scrollbars colors */
  --play-ttc-c-thumb: #eee;
  --play-ttc-c-track: white;
}

.dark {
  color-scheme: dark;
  background: #080808;
  color: white;
  /* scrollbars colors */
  --play-ttc-c-thumb: #222;
  --play-ttc-c-track: #111;
}

[icon-btn=""] {
  --at-apply: text-xl op75 hover:op100;
}

.splitpanes.loading .splitpanes__pane {
  transition: none !important;
}

.splitpanes__splitter {
  @apply relative;
  background-color: #7d7d7d1a;
}

.splitpanes__splitter:before {
  content: '';
  transition: opacity 0.4s;
  background-color: rgb(125 125 125 / 0.1);
  @apply absolute z-1 top-0 left-0 op-0;
}

.splitpanes__splitter:hover:before {
  @apply op-100;
}

.splitpanes--vertical>.splitpanes__splitter:before {
  /* fix vertical scrollbar */
  left: -5px;
  @apply h-full -right-5px;
}

.splitpanes--horizontal>.splitpanes__splitter {
  min-height: 0px;
}

.splitpanes--horizontal>.splitpanes__splitter:before {
  /* fix vertical scrollbar */
  @apply w-full -bottom-6px -top-6px;
}

.splitpanes__splitter:before {
  content: "";
  transition: opacity .4s;
  background-color: #7d7d7d1a;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.splitpanes--vertical>.splitpanes__splitter {
  min-width: 1px;
  cursor: col-resize;
}