shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
# 有问题的时候注意指定对应版本试试看
msvs_version=2022 # github action 指定为2022
# msvs_version=2017 # 某电脑上只有2017,所以开发时指定2017

# https://segmentfault.com/a/1190000040356146
# ELECTRON_MIRROR=http://npm.taobao.org/mirrors/electron/
# ELECTRON_BUILDER_BINARIES_MIRROR=http://npm.taobao.org/mirrors/electron-builder-binaries/

# https://juejin.cn/post/7329785321626353674
electron_mirror=https://npmmirror.com/mirrors/electron/
# 阿里云采用双份拷贝策略,即x.x版本的electron存储时既有 vx.x也有x.x
electron_custom_dir={{ version }}

# https://docs.ffffee.com/electron/electron-npmrc.html